# .gitmodules - record project submodules (HTTPS) under urfd-tilt/src/
[submodule "imbe_vocoder"]
	path = src/imbe_vocoder
	url = https://github.com/nostar/imbe_vocoder.git

[submodule "md380_vocoder_dynarmic"]
	path = src/md380_vocoder_dynarmic
	url = https://github.com/nostar/md380_vocoder_dynarmic.git

[submodule "urfd"]
	path = src/urfd
	url = https://github.com/dbehnke/urfd.git

[submodule "tcd"]
	path = src/tcd
	url = https://github.com/dbehnke/tcd.git

[submodule "urfd-nng-dashboard"]
	path = src/urfd-nng-dashboard
	url = https://github.com/dbehnke/urfd-nng-dashboard.git

[submodule "allstar-nexus"]
	path = src/allstar-nexus
	url = https://github.com/dbehnke/allstar-nexus.git
