services:
  urfd:
    image: urfd
    container_name: urfd
    command: urfd /usr/local/etc/urfd/urfd.ini
    network_mode: host
    volumes:
      - ./config/local:/usr/local/etc/urfd:ro
      - urfd_logs:/var/log/urfd
      - urfd_audio:/usr/local/bin/audio
    restart: unless-stopped

  tcd:
    image: tcd
    container_name: tcd
    command: tcd /usr/local/etc/tcd/tcd.ini
    network_mode: host
    depends_on:
      - urfd
    volumes:
      - ./config/local:/usr/local/etc/tcd:ro
    restart: unless-stopped

  dashboard:
    image: dashboard
    container_name: dashboard
    command: dashboard
    network_mode: host
    environment:
      - URFD_HOST=localhost
      - URFD_AUDIO_PATH=/usr/local/bin/audio
    depends_on:
      - urfd
    volumes:
      - urfd_audio:/usr/local/bin/audio
    restart: unless-stopped

volumes:
  urfd_logs:
  urfd_audio:
